{% extends "josaaanly/base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'josaaanly/Institute/details.css' %}">
{% endblock head %}

{% block content %}
  <div id="info">
    <p>{{branch}}</p>
    <p>seat type:<span style="color: #393E46;">{{seat}}</span></p>

    <div>
      <form action="{% url 'BranchDetails' %}" method="post" id="{{ branch }}">
        {% csrf_token %}
        <input name="branch" value="{{ branch }}" style="display: none;"/>
        <select name="seat">
          <option value="OPEN">open</option>
          <option value="SC">Scheduled Caste (SC)</option>
          <option value="ST">Scheduled Tribe (SC)</option>
          <option value="OBC-NCL">Other Backward Classes (OBC-NCL)</option>
          <option value="EWS">Economically Weaker Section (EWS)</option>
        </select>
        <input type="submit" value="Apply" id="submit">
      </form>
    </div>
    </div>
  <div>
    <canvas id="myChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {{ x_values|json_script:"x-values" }}
  {{ y_values|json_script:"y-values" }}
  <script defer>
      var str = document.getElementById('x-values').textContent;
      str = '{"x":' + str + '}';
      const x_values = JSON.parse(str)['x'];

      console.log(x_values[0])

      var x_data = [];
      for (const key in x_values) {
        if (Object.hasOwnProperty.call(x_values, key)) {
          const element = x_values[key]['Institute'];
          x_data.push(element)
        }
      }

      str = document.getElementById('y-values').textContent;
      str = '{"y":' + str + "}"
      const y_values = JSON.parse(str)['y'];
      var y_data = [];
      for (const key in y_values) {
        if (Object.hasOwnProperty.call(y_values, key)) {
          const element = y_values[key]['ClosingRank'];
          y_data.push(parseInt(element))
        }
      }

      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
          type: 'bar',
          data: {
              labels: x_data,
              datasets: [{
                  label: 'Ranks',
                  data: y_data,
                  borderWidth: 1
              }]
          },
          options: {
              animation: true,
              indexAxis: 'y',
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
    });
  </script>
  

{% endblock content %}