{% extends "josaaanly/Institute/select.html" %}
{% load static %}

{% block topic %}
  <p>Which Institute would you like to visit !</p>
{% endblock topic %}

{% block options %}
  
  <input type="search" name="srch" id="pattern" />
  {% for name in data %}
  <form action="{% url 'InstituteDetails' %}" method="post" id="{{name.Institute}}">
    {% csrf_token %}
    <input name="insti" value="{{ name.Institute }}" style="display: none;"/>
    <input type="submit" value="{{name.Institute}}" style="width:fit-content;"/>
  </form>
  {% endfor %}
  <script src="{% static 'josaaanly/searchhelper.js' %}"></script>
{% endblock options %}